              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/Machinelearning.html">
                      Machine learning
                    </a>
                  </li>
                  <li>
                    <a href="/posts/Deeplearning.html">
                      Deep learning
                    </a>
                  </li>
                  <li>
                    <a href="/posts/Mathematic.html">
                      Mathematics
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      archives
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/Project.html">
                      project
                    </a>
                  </li>                  
				  <li>
                    <a href="/posts/about.html">
                      about
                    </a>
                  </li>
                  <li>
                    <a href="/posts/other.html">
                      other
                    </a>
                  </li>
                  <li>
                    <a href="/tags.html">
                      Tags
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
