            <ul class="list-unstyled">
              <li>
                <a href="http://thangdn.com">
                  Thangdn.com
                </a>
              </li>
              <li>
                <a href="http://news.thanglongit.net" target="_blank">
                  news.thanglongit.net
                </a>
              </li>	
              <li>
                <a href="http://cs.thanglongit.net">
                  cs.thanglongit.net
                </a>
              </li>	
		<li>
                <a href="http://contest.thanglongit.net">
                  contest.thanglongit.net
                </a>
              </li>				  
            </ul>
